In [121]:
import re
import pandas as pd


# 엑셀 파일 불러오기
df = pd.read_excel('/Users/nanum/Downloads/참고용 ver26.xlsx')
df

                                               상품명  표준상품명
0                                 ----------------      -
1                                -----------------      -
2                           ----------------------      -
3                 --------------------------------      -
4                                           도트 빗살삔      -
...                                            ...    ...
194862                                     ㅡ0.5 빼기      -
194863                                   ㅡ0.5단계 빼기      -
194864                                  ㅡ0.5단계 빼기+      -
194865                                   ㅣ버터구이한입쥐포  버터 쥐포
194866                ㅣㅣ아일오브독스 에브리데이 실키코팅 샴푸 500ml      -

[194867 rows x 2 columns]

In [ ]:
def preprocess_text(text):
    # 앞뒤 공백 제거
    text = text.strip()
    return text


# 특정 열에 함수 적용
df['표준상품명'] = df['표준상품명'].astype(str)
df['표준상품명'] = df['표준상품명'].apply(preprocess_text)

# 공백 1개로 통일
df['표준상품명'] = df['표준상품명'].apply(lambda x: re.sub(r'\s+', ' ', x))

pd.set_option('display.max_rows', 10000)
print(df['표준상품명'].tail(10000))

In [ ]:
# 중복되지 않는 데이터 추출
column_name = '표준상품명'
unique_data = df[column_name].drop_duplicates()
print(unique_data)

In [178]:
import re

# 룰에 맞게 표준화
#df['표준상품명'] = df['표준상품명'].apply(lambda x: re.sub(r'샤인\s*머스켓', '샤인머스캣', str(x)))
#df['표준상품명'] = df['표준상품명'].apply(lambda x: re.sub(r'아인\s*슈페\s*너', '아인슈페너', str(x)))
#df['표준상품명'] = df['표준상품명'].str.replace(r'\b뚱카롱\b', '마카롱', regex=True)


# 불용어만 제거
df['표준상품명'] = df['표준상품명'].str.replace(r'\b포켓\b', '', regex=True)

# 불용어 포함 제거
#df.loc[df['표준상품명'].str.contains('체인'), '표준상품명'] = '-'

In [180]:
# nan 값 제거
df.loc[df['표준상품명'] == 'nan', '표준상품명'] = '-'
df.loc[df['표준상품명'] == '', '표준상품명'] = '-'

In [ ]:
# 빈도수 계산 후 정렬
freq = df['표준상품명'].value_counts().sort_values(ascending=False)

# 출력
print(freq[50000:51000])

In [ ]:
# 표준화 완료 개수
sum_counts = freq.iloc[:1000].sum()
print(sum_counts)

In [185]:
# 저장하기
df.to_excel('/Users/nanum/Downloads/참고용 ver27.xlsx', index=False)